@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap');

* {
    box-sizing: border-box;
}
body {
    color: #40514E;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

h1, h2, h3, a {
    font-weight: bold;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
}

p {
    line-height: 2;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

li {
    display: inline-block;
    margin: 0 15px;
    font-weight: normal;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 10px;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
}

hr {
    border-style: dotted none none;
    border-width: 5px;
    width: 4%;
    border-color: grey;
    margin: 50px auto;
    clear: left;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
    height: 100vh;
}

.top-container h2 {
    font-weight: normal;
}

.profile p {
    margin: auto;
    width: 50%;
}

.top-cloud {
    position: absolute;
    left: 250px;
    top: 40px;
} 

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    right: 300px;
}


.bottom-container {
    background: #11cdd4;
    background: -moz-linear-gradient(top, #11cdd4, #11999e);
    background:-ms-linear-gradient(top, #11cdd4, #11999e);
    background: -o-linear-gradient (top, #11cdd4, #11999e);
    background: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background: linear-gradient(to bottom, #11cdd4, #11999e);
}

.btn {
    text-decoration: none;
    color: white;
    background: #11cdd4;
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image:-ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient (top, #11cdd4, #11999e);
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    border-radius: 8px;
}

.copyright {
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 20px 0;
    
}
