@charset "utf-8";
@import url("fontawesome-free/css/all.css");
@import url("framework.css");

/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar{padding:20px 0; font-size:.8rem; text-transform:uppercase;}
#topbar ul li{display:inline-block; margin-right:15px;}
#topbar ul li:last-child{margin-right:0;}
#topbar i{line-height:normal;}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{border-bottom:1px solid;}
#header #logo{margin:22px 0 0 0;}
#header #logo h1{margin:0; padding:0; font-size:2rem; font-variant:small-caps;}

/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro2{padding:1px 0;}
#pageintro2 .heading{font-size:5rem; margin-top: 70px;}
#pageintro{padding:200px 0;}
#pageintro article{display:block; max-width:60%; margin:0 auto; text-transform:capitalize; text-align:center;}
#pageintro article p:first-of-type{margin:0 0 30px 0; padding:0; font-size:2rem;}
#pageintro .heading{font-size:5rem;}
#pageintro footer{margin-top:50px;}
#pageintro footer .btn{padding:14px 25px 16px; font-size:1.2rem;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.sectiontitle{display:block; max-width:55%; margin:0 auto 80px; text-align:center;}
.sectiontitle *{margin:0;}

/* Services r */
#services li{margin-bottom:50px;}
#services li:nth-last-child(-n+4){margin-bottom:0;}/* Removes bottom margin from the last line of items - margin is restored in the media queries when items stack */
#services li:nth-child(4n+1){margin-left:0; clear:left;}/* Removes the need to add class="first" */
#services article{display:block; padding:30px 15px; text-align:center;}
#services article *{}
#services article i{margin-bottom:30px;}
#services article p{margin-bottom:30px;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}

/* COUNTER*/
#counter{
	text-align: center;
}
#counter h1{
	font-size: 2em;
	font-weight: bold	;
}
/* Header */
#header-text{
	font-size: 30px;
	letter-spacing: 5px;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	padding-bottom: 0px;
}
/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0 50px;}
#footer nav{display:block; text-align:center; text-transform:uppercase;}
#footer nav li{display:inline; margin-right:20px;}
#footer nav li:last-child{margin-right:0;}
#footer input, #footer button{border-radius:12px;}

/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}
#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after,  #breadcrumb2 li a::after, .sidebar nav a::after{position:absolute; font-family:"Font Awesome 5 Free"; font-weight:900; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav ul{text-transform:uppercase;}
#mainav ul ul{position:absolute; width:180px; text-transform:none; z-index:9999;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:30px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}


/* Breadcrumb */
#breadcrumb2{padding:1px 0 30px; text-align:center;}
#breadcrumb2 ul{margin:0; padding:0; list-style:none; text-transform:capitalize;}
#breadcrumb2 li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb2 li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb2 li a::after{top:4px; right:0; content:"\f0da";}
#breadcrumb2 li:last-child a{margin:0; padding:0;}
#breadcrumb2 li:last-child a::after{display:none;}
#breadcrumb2 .heading{margin:0; font-size:2rem;}



/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; margin:8px 5px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}
.faico a{display:inline-block; width:36px; height:36px; line-height:36px; font-size:18px; text-align:center;}

.faico a{color:inherit; background-color:rgba(255,255,255,.2);}
.faico a:hover{color:#FFFFFF;}

/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#A8A8A8; background-color:#202020/* Fallback incase a background image doesn't load */;}
a{color:#828BF4;}
a:active, a:focus{background:transparent !important;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}


.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.overlay.light{color:#474747;}
.overlay.light::after{background-color:rgba(255,255,255,.7);}


/* Rows */
.row2{color:#474747; background-color:#F4F4F4;}
.row3{color:#474747; background-color:#FFFFFF;}
.row4{color:#A8A8A8;}
.row5, .row5 a{color:#A8A8A8;}


/* Header */
#header{border-color:rgba(255,255,255,.1);}
#header #logo a{color:inherit;}


/* Page Intro */
#pageintro{color:#FFFFFF;}


/* Footer */
#footer .heading{color:#FFFFFF;}
#footer hr, #footer .borderedbox, #footer .linklist li{border-color:rgba(255,255,255,.1);}

#breadcrumb2 *{color:#FFFFFF; background-color:inherit;}
#breadcrumb2 li:last-child a{color:#828BF4;}


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1140px){
	.hoc{max-width:1140px;}
}

@media screen and (min-width:978px) and (max-width:1140px){
	.hoc{max-width:95%;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:978px){
	.hoc{max-width:90%;}

	#topbar{}

	#header{padding:30px 0;}
	#header #logo{margin-top:0;}

	#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:block; margin-top:2px;}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}
}

@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{margin-bottom:0;}/* Experimental - Needs more testing in different situations, stops double margin when stacking */
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0;}

	
	#header #logo{margin:0 0 15px 0;}

	#pageintro article{max-width:none;}
	#pageintro .heading{margin-bottom:20px; font-size:2.5rem;}

	.sectiontitle{max-width:none;}
	.sd-third > li{max-width:348px;}/* Restrict the width to the one_third grid element in smaller devices */

	#services li:nth-last-child(-n+4){margin-bottom:50px;}
	#services li:last-child{margin-bottom:0;}
	.team li, #latest > li{margin:0 auto 50px;}
	.points ul{padding-top:0;}

	#footer{}
	#footer .latestimg > li, #footer .latestimg > li:nth-last-child(-n+3){display:inline-block; float:none; width:auto; margin:0 5% 5% 0;}
	#footer .latestimg > li:last-child{margin-bottom:0;}
	#footer .latestimg > li img{width:auto;}
}
