.container{
 display: flex;
 flex-direction: column;
}
/* ================nav bar======================= */
a{
 text-decoration: none;
}
.navbar{
 overflow: hidden;
 background-color: #fff;
 position: fixed; 
 top: 0;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 height: 80px;

}

.navbar__left > p{
 color: black;
}
.navbar__right{
 background-color: rgb(38, 5, 38);
 padding: 0 1rem;
 border-radius: 5rem;
 cursor: pointer;
}
.navbar__right > p{
 color: white;
}
.navbar__middle > ul {
 display: flex;
 
}
.navbar__middle > ul > li{
 list-style: none;
 margin: 0 5px;
 cursor: pointer;
 color: black;
}
.about__One{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-image: url('../contact.jpg');
 background-size: cover;
 height: 90vh;
 background-position: center; /* Center the image */
 background-repeat: no-repeat;
 /* opacity: 0.5; */
}
.about__Text > p{
 position: absolute;
 top: 43%;
 left: 43%;
}
.about__Text > h1{
 color: white;
 text-align: center;
 font-size: 3em;
 font-weight: bold;
 position: absolute;
 top: 30%;
 left: 40%;
 
}
.about__Two{
 display: flex;
 height: 100vh;
 padding: 0 4rem;
}
.about__TwoLeft{
 flex: 0.5;
 /* padding: 0 0 0 2rem; */
 padding-left: 4rem;
 margin-right: 0;
}
.about__TwoLeft img{
 width: 430px;
 height: 500px;
 /* object-fit: contain; */
}
.about__TwoRight{
 flex: 0.5;
 padding-right: 3rem;
}
.about__TwoRight > h4{
 font-weight: bold;
 color: black;
}
.about__TwoRight > h1{
 font-size: 2.5rem;
 font-weight: bold;
 color: black;
}
.about__TwoRight > p{
 color: black;
}
.about__three{
 display: flex;
 flex-direction: column;
 padding: 1rem 4rem;
 height: 100vh;
}
.about__threeTop{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.about__threeTop > h2{
 font-size: 2.5rem;
 font-weight: bold;
 color: black;
}
.about__threeTop > p{
 color: black;
}
.about__threeDown{
 display: flex;
 justify-content: space-around;
}
.about__threeDownA{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 380px;
 height: 300px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about__btn{
 background-color: blue;
 color: white;
 padding:  1rem 2rem ;
 cursor: pointer;
 border: none;
 margin-top: 2rem;
 width: 180px;
 align-self: center;
}

/* ========footer=============== */
.down__box{
 display: flex;
 flex-direction: column;
 background-color: rgb(38, 5, 38);
 /* height:80vh ; */
 margin-top: 4rem;
}

.down__boxUP{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 1rem 0 5rem 0;
}
.btnn{
 background-color: white;
 color: black;
 padding:  1rem;
 border-radius: 5rem;
 cursor: pointer;
 border: none;

}
.down__boxUP > p{
 color: white;
 font-size: 3em;
 font-weight: bold;
 text-align: center;
}
.down__boxDown{
 color: white;
 display: flex;
 justify-content: space-around;
}
.icon > .fab{
 margin-right: 10px;
}
