.container{
 display: flex;
 flex-direction: column;
}
/* ==========================nav bar========================= */
a{
 text-decoration: none;
}
.navbar{

 overflow: hidden;
 background-color: #fff;
 position: fixed; 
 top: 0;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 height: 80px;

}

.navbar__left > p{
 color: black;
}
.navbar__right{
 background-color: rgb(38, 5, 38);
 padding: 0 1rem;
 border-radius: 5rem;
 cursor: pointer;
}
.navbar__right > p{
 color: white;
}
.navbar__middle > ul {
 display: flex;
 
}
.navbar__middle > ul > li{
 list-style: none;
 margin: 0 5px;
 cursor: pointer;
 color: black;
}
.contact__One{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-image: url('../contact.jpg');
 background-size: cover;
 height: 90vh;
 background-position: center; /* Center the image */
 background-repeat: no-repeat;
 /* opacity: 0.5; */
}
.contact__Text > p{
 position: absolute;
 top: 43%;
 left: 43%;
}
.contact__Text > h1{
 color: white;
 text-align: center;
 font-size: 3em;
 font-weight: bold;
 position: absolute;
 top: 30%;
 left: 40%;
 
}
.contact__Two{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding: 0 4rem;
height: 80vh;
}
.contact__TwoA{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 380px;
 height: 300px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact__TwoA > p,.contact__TwoA > h3{
 color: black;
 margin: 0;
}
.icons{
 background-color: rgb(243, 149, 49);
 padding: 2.5rem;
 border-radius: 50%;
}
.contact__Three{
 display: flex;
 flex-direction: column;
 height: 100vh;
 width: 100%;
 margin-bottom: 3rem;

}
.contact__ThreeText > h1{
 text-align: center;
 font-size: 3em;
 font-weight: bold;
 color: black;
}
.contact__ThreeMsg{
 display: flex;
 flex-direction: column;
 padding: 3rem;
}
.contact__ThreeA{
 display: flex;
 align-items: center;
 margin-bottom: 1rem;
 padding: 0 4rem;
 justify-content: space-around;

}
.inputName{
 display: flex;
 width: 500px;
 align-items: center;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 background-color: white;
 height: 50px;
 /* margin: 1rem; */
 padding: 1rem

}
.inputName input{
 background-color: none;
 outline: none;
 border: none;
 margin-left: 1.8rem;
 width: 100%;
 height: 50px;
}
.contact__ThreeB{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 1rem;
 padding: 0 4rem;
 /* justify-content: space-around; */
}
.Text{
 width: 96%;
 height: 250px;
 display: flex;
 /* width: 500px; */
 /* align-items: center; */
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 background-color: white;
 /* height: 50px; */
 /* margin: 1rem; */
 padding: 1rem
}
.Text textarea{
 background-color: none;
 outline: none;
 border: none;
 margin-left: 1.8rem;
 width: 100%;
 height: 250px;
 color: white;
}
.btn{
 background-color: blue;
 color: white;
 padding:  1rem 2rem ;
 cursor: pointer;
 border: none;
 margin-top: 2rem;
}
.arrowUp{
 overflow: hidden;
 background-color: blue;
 position: fixed; 
 bottom: 10%;
 right: 2%;
 padding: 0.5rem;
 border-radius: 50%;
}

/* ========footer=============== */

.down__box{
 display: flex;
 flex-direction: column;
 background-color: rgb(38, 5, 38);
 /* height:80vh ; */
 margin-top: 4rem;
}

.down__boxUP{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 1rem 0 5rem 0;
}
.btnn{
 background-color: white;
 color: black;
 padding:  1rem;
 border-radius: 5rem;
 cursor: pointer;
 border: none;

}
.down__boxUP > p{
 color: white;
 font-size: 3em;
 font-weight: bold;
 text-align: center;
}
.down__boxDown{
 color: white;
 display: flex;
 justify-content: space-around;
}
.icon > .fab{
 margin-right: 10px;
}
