.container{
 display: flex;
 flex-direction: column;
 width: 100%;
 /* height: 100vh; */
 background-color: white;
}
a{
 text-decoration: none;
}
.navbar{
 overflow: hidden;
 background-color: #fff;
 position: fixed; 
 top: 0;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 height: 80px;
}
.msgBox{
 overflow: hidden;
 background-color: #000;
 position: fixed; 
 bottom: 10;
 right: 2%;
 padding: 0.5rem;
 border-radius: 50%;
}
.navbar__left > p{
 color: black;
}
.navbar__right{
 background-color: rgb(38, 5, 38);
 padding: 0 1rem;
 border-radius: 5rem;
 cursor: pointer;
}
.navbar__right > p{
 color: white;
}
.navbar__middle > ul {
 display: flex;
 
}
.navbar__middle > ul > li{
 list-style: none;
 margin: 0 5px;
 cursor: pointer;
 color: black;
}
.down__boxA{
 display: flex;
 align-items: center;
 justify-content: center;
 background-image: url('../cars.jpg');
 background-size: cover;
 height: 90vh;
 background-position: center; /* Center the image */
 background-repeat: no-repeat;
}
.down__boxA > p{
 color: white;
 text-align: center;
 font-size: 3em;
 font-weight: bold;
}
.down__boxB{
 display: flex;
 height: 90vh;
 /* padding: 1rem; */
}
.down__boxBLeft{
 flex: 0.5;
 padding: 0 4rem;
}
.down__boxBLeft > h2{
 color: white;
 font-size: 2.8em;
 font-weight: bold;
}
.down__boxBRight{
 flex: 0.5;
 /* padding: 2rem 0; */
}
.down__boxBRight img{
 width: 500px;
 height: 450px;
}
.down__boxC{
 display: flex;
 flex-direction: column;
}
.down__boxCTop{
 display: flex;
 align-items: center;
 justify-content: center;
}
.down__boxCTop > p{
 color: black;
 font-size: 2.8em;
 font-weight: bold;
 text-align: center;
}
.down__boxCDown{
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 0 2rem;
}
.down__boxCDownA{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.down__boxCDownA > p{
 color: black;
}
.down__boxH1{
 color: black;
 font-size: 3em;
 font-weight: bold;
 margin: 0;
}
.down__boxD{
 display: flex;
}
.down__boxDLeft{
 flex: 0.5;
 /* padding: 0 2rem; */
 padding-left: 6rem;
}
.down__boxDLeft img{
 width: 500px;
 height: 450px;
}
.down__boxDRight{
 flex: 0.5;
 background-color: white;
 padding-right: 4rem;
}
.fa-circle{
 color: black;
 /* background-color: rgb(199, 187, 187); */
}
.down__boxDRight h2{
 color: black;
 font-size: 2em;
 font-weight: bold;
 margin-bottom: 1rem;
}
.down__boxDRight > ul > li{
 list-style: circle;
}
.down__boxE{
 margin-top: 5rem;
}
.down__box{
 display: flex;
 flex-direction: column;
 background-color: rgb(38, 5, 38);
 /* height:80vh ; */
}

.down__boxUP{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 1rem 0 5rem 0;
}
.btn{
 background-color: white;
 color: black;
 padding:  1rem;
 border-radius: 5rem;
 cursor: pointer;
 border: none;

}
.down__boxUP > p{
 font-size: 3em;
 font-weight: bold;
 text-align: center;
}
.down__boxDown{
 display: flex;
 justify-content: space-around;
}
.icons > .fab{
 margin-right: 10px;
}