* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  background: white;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100vw;
}

.nav > .container > .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.nav > .container > .logo > span {
  color: blue;
}

nav {
  display: none;
}

.nav > .container {
  display: flex;
  place-content: space-between;
}

.mobile-menu {
  cursor: pointer;
}

.section-1 > .container {
  margin-top: 50px;
  background-image: url("../Img/timon-studler-BIk2ANMmNz4-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.section-1 > .container > h1 {
  color: white;
  text-align: center;
  margin-top: 100px;
}

.section-2 > .container {
  display: flex;
  width: 100%;
  height: 40vh;
  padding: 10px 10px;
}
.left-column {
  font-family: Arial, Helvetica, sans-serif;
}

.left-column > h2 > .text2 {
  margin-bottom: 0;
  font: bold;
}

.left-column > h2 > .text2 {
  margin-bottom: 20px;
  font: bold;
}

.right-column {
  width: 100%;
  height: auto;
}

.right-column-image {
  max-width: 100%;
  height: auto;
}

.section-3 > .container {
  display: flex;
  width: 100%;
  height: 40vh;
  padding-left: 20px;
  padding-right: 20px;
}
