@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Poppins:wght@200&family=Qahiri&family=Zen+Antique+Soft&display=swap');

:root {
    --primary-color: #000;
    --secondary-color: #FFFFFF;
    --tertiary-color: #2B2D42;
}

body {
    background: var(--secondary-color);
    margin: 0;
    font-family: Gilroy, sans-serif;
}

.navbar {
    background: white;
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: 700;
        color: black;
        font-size: 1.2em;

        span {
            color: var(--primary-color);
        }
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
        
    }

    .mobile-menu {
        cursor: pointer;
    }
    
}

a {
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    margin-top: 1.5em;
}
// Hero Designs
section.hero {
    
    width: 100%;
    height: 79vh;
    // background-image: url('../images/hero-bg.jpeg');
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/max2.png');
    background-position:center top;
    background-repeat: no-repeat;

    .container {
        text-align: center;
        h1 {
            text-align: center;
            color: var(--secondary-color);
            font-weight: bolder;
            line-height: middle;
            padding-top: 30%;
            font-size: 3em;
            margin-top: unset;

            span {
                color: #8A0707;
                box-shadow: floor($number: 5);
            }

        }
        p {
            color: var(--secondary-color);
        }
    }
}
// Section What we do
section.what-we-do {
    

    .container {

        .left-col-what {
            padding: .5em;
            text-align: left;
            h3 {
                padding: 0;
                margin: 0;
            }

            p {
                color: #4A5156;
            }
        }
        .right-col-what {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

p {
    color: #4A5156;
}
// why we grow
section.why-we-grow {
    background-color: #FFFBF7;

    .container {

        h2.why-text {
            text-align: center;
        }
        .counter{
            font-size: 45px;
            font-weight: bolder;
            text-align: center;

            li {
                margin-bottom: 1em;
                // display: inline-block;                   to be used in Media Query
                // margin-left: 2em;
                // position: relative;
            }

            p {
                font-size: 12px;
            }
            
        }
    }
}

// work with us section
section.work-with-us {

    .container {

        .left-col-work {
            
            .work-img {
                width: 100%;
                height: auto;
            }
        }

        .right-col-work {
            padding: .7em;
            text-align: left;
            
            h2 {
                font-size: 30px;
            }
            ul {
                li {
                    font-size: 20px;
                    color: #4A5156;
                    margin-bottom: 1em;
                    margin-left: 2em;
                    position: relative;

                    &::before {
                        content: "";
                        left: -2em;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background-image: url('../images/bullet.svg');
                        background-size: contain;
                        margin-right: 5em;
                    }
                }
            }
            
            p {
                font-size: 20px;
            }
        }
    }
}

// Section Pioneer
section.pioneer {
    .container {

        .left-pioneer {
            img {
                width: 100%;
                height: auto;
            }
        }

        .right-pioneer {
            text-align: left;
            padding: .7em;

            p {
                font-size: 17px;
            }

        }
    }
}

// Section footer
section.footer {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);

    .btn-cta {
        
        text-align: center;
        margin: 2.5em 0 2.5em 0;
    }
    .button {
        background-color: var(--secondary-color);
        color: var(--tertiary-color);
        border-radius: 500px;
        padding: 1em;
        font-size: 16px;
        font-weight: bold;
    }
    a {
        color: var(--secondary-color);
        text-decoration: none;
    }
    h2 {
        text-align: center;
    }
    .company,.services,.get-in-touch {
        padding-left: 1em;
    }
    ul {
        padding-left: 1.5em;
    }

    .get-in-touch {

        .social-icons {
            text-align: center;
            font-size: 2em;
            display: block;
            
            a {
                padding-right: 10px;
            }

        }
        p {
            color: var(--secondary-color);
            font-size: 15px;
            font-weight: inherit;
            margin-bottom: 0;
            padding-bottom: 1em;
        }
    }
}

// Navbar continuation
nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
        
    }

    li {
        
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}


// About us page
// Services section
section.services {
    .container {
        text-align: center;
        background-color: #F4F8FC;
        margin-top: 1em;

        .hr-card, .staffing-card, .payroll-card {

            background-color: var(--secondary-color);
            margin: 1em auto;
            padding-top: 20%;

            width: 320px;
            height: 200px;

            ul li.card-icon {
                background-color: rgb(226, 202, 226);
                text-align: center;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                padding: 1em;
                margin-left: 34%;
            }
            ul li.card-text {
                font-size: 20px;
                font-weight: bold;

            }
        }

        .services-cta {
            a {
                text-decoration: none;
                background-color: rgb(106, 106, 238);
                padding: .7em 1.5em;
                margin-bottom: 2em;
                font-size: 20px;
                color: var(--secondary-color);
                font-weight: bolder;
            }
        }

    }
}

// Contact page
// section contact
section.contact {
    .container {
        background-color: #F4F8FC;

        .contact-header {
            text-align: center;
        }

        .contact-form form {
            margin: 2em;
            input {
                border: 2px solid #F4F8FC;
                padding: 1em;
                justify-content: space-between;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    section.hero {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/max2.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 50vh;
    }

    section.what-we-do .container .left-col-what {
        h3 {
            padding-bottom: .3em;
            font-size: 30px;
        }

        p {
            font-size: 25px;
            padding: .5em;
        }

        a {
            font-size: 20px;
        }
    }

    section.why-we-grow .container h2.why-text {
        font-size: 30px;
    }

    
    section.work-with-us .container .right-col-work  {
        
        ul li {
            font-size: 23px;
        }

        p {
            font-size: 23px;
        }

        a {
            font-size: 20px;
        }
    }

    section.pioneer .container .right-pioneer {
        font-size: 30px;

        p {
            font-size: 23px;
        }
    }

    section.footer .container .footer-menu {
        font-size: 25px;

        p {
            font-size: 25px; 
        }
    }
}
@media only screen and (min-width: 908px) {
    .mobile-menu,.mobile-menu-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
            
        }

        a {
            color: #a09e9e;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
            margin-top: 1em;
        }

        li.max-rider-cta a {
            background-color: var(--primary-color);
            color: var(--secondary-color);
            border-radius: 500px;
            // font-weight: bold;
            padding: 1em;
        }
    }

    .counter {
        display: flex;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        text-align: center;
        padding-left: 38%;
    }
    section {
        // margin-top: 5em;
    }

    section.hero {
        .container {
            h1 {
                padding-top: 20%;
            }
        }
    }

    .what-we-do, .work-with-us, .pioneer{
       
        .container {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
    }
    .left-col-what, .right-col-what, .left-col-work, .right-col-work, .left-pioneer, .right-pioneer {
        width: 50%;
        padding: 0 3.5em;
    }

    section.work-with-us .container .right-col-work ul li {
        font-size: 13px;
    }

    section.work-with-us .container .right-col-work p {
        font-size: 16px;
    }

    .left-col-what {
        font-size: 25px;
        text-align: left;
        p {
            font-size: 20px;
        }
    }
    .right-col-what {
        text-align: right;
        img {
            width: 619px;
            height: inherit;
        }
    }

    .left-col-work {
        img {
            width: 100%;
            height: inherit;
        }
    }
    .right-col-work {
        margin-top: -3em;
        text-align: right;
        ul {
            font-size: 12px;
            justify-items: unset;
        }
    }

    .right-pioneer {
        margin-top: -1.5em;
        font-size: 30px;
        p {
            font-size: 20px;
        }
    }

    // why we grow
    section.why-we-grow {
        width: 100%;
        .container {
            padding: 0 15em;
            h2.why-text {
                font-size: 40px;
            }
            .counter{
                font-size: 45px;
                font-weight: bolder;
                justify-content: space-between;
                padding: 30px;
    
                li {
                    margin-bottom: 1em;
                }
    
                p {
                    font-size: 20px;
                }
                
            }
        }
    }
// footer section
    section.footer {
        .container {
            .footer-menu {
                display: flex;
                justify-content: space-between;
                padding-left: 5em;
            }

            ul {
                padding-left: 0;
            }
        }

    }


    section.footer .get-in-touch .social-icons {
        text-align: left;
        p {
            color: red;
        }
    }
}
    
@media only screen and (min-width: 1000px) {
    section.services {
        .container {
            .services-card {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

@media only screen and (min-width: 1031px) {
    section.hero {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/max2.png');
        background-size: 100% auto;
    }

    section.hero .container h1 {
        padding-top: 8%;
    }
}
@media only screen and (min-width: 1446px) {

    nav{
        ul {
            font-size: 20px;
        }
    }
    .left-col-what {
        font-size: 40px;
        text-align: left;
        p {
            font-size: 30px;
        }
    }

    section.pioneer .container .right-pioneer {
        padding-top: 4%;
    }

    section.work-with-us .container .right-col-work ul li {
        font-size: 24px;
        color: #4A5156;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative
    }

    section.work-with-us .container .right-col-work p {
        font-size: 25px;
    }

    section.pioneer .container .right-pioneer p {
        font-size: 25px;
    }  
    
}

@media only screen and (min-width: 1280px) {
    section.hero .container h1 {
        padding-top: 9%;
    }

    section.what-we-do .container .left-col-what {
        padding: 2em;
    }

    section.work-with-us .container .right-col-work {
        padding: 2em;

        ul li {
            font-size: 23px;
        }
        p {
            font-size: 23px;
        }
    }

    section.pioneer .container .right-pioneer {
        padding: 1em 5em 5em 5em;
    }
}

// @media only screen and (min-width: 1920px) {

// }