body{
    background-color:white;
    margin: 0;
}

.navbar{
       background-color: white ;
       padding: 1em;
    //    position: fixed;

       .container{
           display: flex;
           place-content: space-between;

       }

       .mobile-menu{
           cursor: pointer;
       }

       nav{
           display: none;
       }
}


.home-1{
    
    
    .image{
        img{
            width: 699px;
            height: 571px;
        }
    }
}


.home-2{
        text-align: center;
        margin-top: 60px;

    .left-col{
        
    }
    .first{
       font-weight: bold;
       font-size: 25px;
       
    }
    
}

.home-4{
    .right-col{
        
        .tenth{
            text-align: center;        
        }

        .check{
            margin-left: 5em;

            .li{
                font-size: 1em;
            }
        }

        .eleventh{
            margin-left: 7.9em;
            text-align: justify;
        }
    }

}


.home-5{
    
    .left5col{

    }
    .right5col{
        
        
    }
}

.home-6{
    color: white;
    .carbon{
        text-align: center;
    }
    .flex{
        text-align: center;
    }
    .foot{
        .footer-one{
            
        }
        
        .footer-two{
            
        }
        .footer-three{
            
        }
    }
}