*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background: #f1f1f1;
  font-family: "Merriweather", sans-serif;
  padding: 0;
  margin: 0;
}
.navbar {
    overflow: hidden;
    background-color: #fff!important;
    position: fixed; 
    top: 0; 
    width: 100%;
    margin-bottom: 30px;
    padding-left: 0!important;
}
.navbar a {
    float: left;
    display: block;
    color: #2c2b2b;
    text-align: center;
    padding: 30px 30px;
    background: #fff;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover {
    /* color: black; */
    font-size: 19px;
}
.home {
    padding-left: 420px!important;
}
.hire {
    padding-left: 550px !important;
}
.hero {
    margin-top: 70px;
    background-image: url(./images/bg2.jpg);
    height: 750px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    position:relative;
    /* margin-bottom: 100px; */
}
.hero h2{
    position: absolute;
    bottom: 280px;
    left: 580px;
    font-size: 60px;
    color: #fff;
}
.contact {
    display: flex;
    justify-content: space-around;
    background: #fff;
    padding-top:100px;
    padding-bottom:100px;
    margin-bottom:100px ;
}
.contact img {
    width: 180px;
    height: 180px;
}
.contact h2, p{
    font-size: 18px;
    text-align: center;
}
.form h2{
    font-size: 30px;
    text-align:center;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 100px ;
}
form input,
form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: "Merriweather", sans-serif;
}

form #input-submit {
  color: white;
  background: #194ee0;
  cursor: pointer;
  text-align: center;
}

form textarea {
  height: 226px;
  width: 600px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color:#D8D8D8;
    padding-top:90px;
    padding-bottom: 90px;
    text-align: center;
}
.social a{
    padding-right: 20px;
    padding-top: 20px;
}