@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --main-color:black;
    --black:#13131a;
    --bg:white;
    --border:.1rem solid green;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    line-height: 1.5;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:black;;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}


.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 1.5rem;
    font-size: 1.7rem;
    border-bottom: .1rem solid var(--main-color);
    color:black;
    cursor: pointer;
}
.btn img{
    height: 10px;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}
.header .logo{
    display: flex;
    align-items: center;
}
.header .logo b{
    color: black;
    font-weight: 600;
    font-size: 22px;
    
}

.header .logo img{
    height: 4rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:grey;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .btn-cta{
    padding: 9px 25px;
    background-color: black;
    border: none;
    border-radius: 50px;
    color: white;
    transition: all 0.35 ease 0s;
    cursor: pointer;
}
.header .btn-cta a{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}


.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/bastian-scham-vKl5b0sQIbE-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.homea{
    background:url(../images/pawel-chu-ULh0i2txBCY-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    width: 100%;
    text-align: center;
}

.home .content h3{
    font-size: 5rem;
    color:#fff;
    text-align: center;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}
.home .content h4{
    font-size: 2rem;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}

.about .row{
    display: flex;
    align-items: center;
    background:white;
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:black;
}

.about .row .content p{
    font-size: 1.6rem;
    color: black;
    padding:0.5rem 0;
    line-height: 1.8;
}
.care{
    background-color: rgb(255, 250, 245);
}

.care .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.care .box-container .box{
    padding:5rem;
    text-align: center;
       
}

.care .box-container .box img{
    height: 10rem;
}

.care .box-container .box h3{
    color: black;
    font-size: 7rem;
    padding:1rem 0;
}

.care .box-container .box .text{
    color: black;
    font-size: 16px;
    padding:.5rem 0;
}
.services{
    background-color: #b1e2f8;
}
.wrapper{
    width: 1170px;
    margin: 5% auto;
    
}
.wrapper h2 {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
}
.wrapper h2 span {
    color: rgb(24, 24, 138);
}
.wrapper h3{
    text-align: center;
    font-weight: lighter;
    font-size: 2rem;

}
.services-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.single-service{
    padding: 7rem;
    margin-left: 20px;
    display: block;
    text-align: center;
    background-color: aqua;

}
  
.content-footer{
    max-width: 100%;
    text-align: center;
	display: block;
	padding: 6rem;
    align-items: center;
}
.btn-ct{
	padding-top: 20px;
}
.btn-ct a{ 
    padding: 9px 25px;
    background-color: white ;
    border: none;
    border-radius: 50px;
    color:black;

    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.content-footer h3{
    font-size: 3.5rem;
    color:#fff;
    text-align: center;
}
.container-footer{
	max-width: 1170px;
	margin:auto;
}
.row-footer{
	display: flex;
	align-items: center;
    justify-content: space-between;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(53, 2, 53);
    padding: 60px 0;
}
.footer-col{
   width: 30%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 25px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 5px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}












/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}