body{
    
    margin: 0;
    font: 1em sans-serif;
    
    
}
@media (min-width:60px) {
    .nav {
        display: flex;
        background-color:white;
        flex-direction: row;
        align-items: center;
        
        height: 13vh;
        width: 100vw;
        justify-content: space-around;
        position: fixed;
        z-index: 999;
        
  
  
    }

    .nav-title{
      
      
      width: 15%;
      
    }
    .nav-links{
      
      display: inline-flex;
      
      width: 30%;
      list-style-type: none;
      color: rgb(126, 115, 115);
  
    }
    .list-links{
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    .nav-links-text{
        
        padding: 8px;
        
    }
    .nav-button{
      
      
      width: 20%;
    }
    .nav-toggler{
        display: none;
    }
    .nav-title-name{
        display: flex;
        
        align-items: center;
    }
}


.hero-container{
    width: 100%;
    height: 100vh;
    
    
    background-color: black;
    display: grid;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: xx-large;
    font-weight: 800;
}
.image {
    opacity: 0.5;
    display: block;
    
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 100vh;
    width: 98vw;
    
  }
.hero-text{
    
    display: grid;
    justify-items: center;
    

}
.middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

#home{
    padding: 5%;
    display: grid;
    grid-template-columns: 100%;
     
    grid-template-areas: 'container1'
                         'container2'
                         'container3'
                         'container4'
                            ;
    grid-template-rows: auto 40vh auto auto;


}
.container-circle{
    color: rgb(255, 255, 255);
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: rgba(197, 194, 13, 0.918);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.container1{
    grid-area: container1;
    display: flex;
    height: 100vh;
}
.container1-1{
    display: grid;
    width: 50vw;
    align-content: center;
    justify-content: center;
    
}

.container1-2{
    
    width: 50%;
    padding: 5% 5% 5% 5%;
}

img{
    width: 100%;
    height: 100%;
}
.container2{
    grid-area: container2;
    height: 40vh;
    display: grid;
    justify-items: center;
    background-color: rgba(255, 245, 238, 0.76);
}
.container2-text{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
.container2-list{
    display: grid;
    justify-items: center;
}

.container3{
    height: 100vh;
    grid-area: container3;
    display: flex;
}
.container3-1{
    
    padding: 3% 3% 3% 3%;
    width: 50%;
    

}

.container3-2{
    
    width: 50%;
    padding: 1% 5% 5% 5%;
}
.container4{
    grid-area: container4;
    height: 100vh;
    
    display: flex;
}
.container4-1{
    padding: 3% 3% 3% 3%;
    width: 50%;
}

.container4-2{
    display: grid;
    width: 50vw;
    
    align-content: center;
}
.container5{
    display: grid;
    background-color:#6494ed27;
    padding-top: 7%;
    justify-items: center; 
    height: 70vh;  

} 
.container5-1{
    padding-top: 10px;
    padding-bottom: 20px;
    
    
    display: flex;
    width: 100%;
    justify-content:center ;
    
}
.container5-1-text{
    display: grid;
    
    justify-items: center;
}
.container5-1-1{
    
    height: 40vh;
    background-color: white;
    width: 25%;
    display: grid;
    align-content: space-around;
    justify-items: center;
    margin-right: 10px;
}
.container5-1-2{
    height: 40vh;
    background-color: white;
    width: 25%;
    display: grid;
    align-content: space-around;
    justify-items: center;
    margin-right: 10px;
}   
.container5-1-3{
    
    height: 40vh;
    background-color: white;
    width: 25%;
    display: grid;
    align-content: space-around;
    justify-items: center;
}
.container6{
    display: grid;
    
    justify-items: center;
    background-color: rgba(26, 150, 221, 0.178);
    height: 80vh;
    align-content: space-around;
    
}
.container6-1{
    
    width: 80%;
   
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 60vh;
    justify-content: space-between;
}
.input-name{
    width: 39%;
    height: 8%;  
}
.input-email{
    width: 39%;
    height: 8%;
    
}
.input-phone{
    width: 39%;
    height: 8%;
}
.input-subject{
    width: 39%;
    height: 8%;
}
.input-message{
    width: 100%;
    height: 30vh;
}
input{
    padding-left: 3em;
    list-style-position: inside;
    list-style-type: disc;
    list-style-position: inside;

}
input:focus{
    background-color: rgba(44, 230, 243, 0.103);
}
footer {
    height: auto;
    width: 100%;
    background-color: rgb(75, 15, 70);
    padding-top: 10vh;
    padding-bottom: 2%;
}
.footer-header {
    height: 40%;
    font-size: xx-large;
    color: white;
    font-weight: 800;
    display: grid;
    justify-items: center;   
}
.pill-button2{
    background-color: white;
    border: none;
    color: black;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.footer-links{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgba(238, 231, 231, 0.815);
    flex-wrap: wrap;

}
@media screen and (max-width:760px) {
    .nav{
        display: grid;
        width: 100vw;
        align-content: space-between;
        height: auto;
        
    }
    
    .nav-title{
        display: flex;
        justify-content:space-around ;
        width: inherit;
        align-items: center;
         
    }
    .nav-links{
        padding-top: 30px;
        border-top:4px solid black;
        display: none;
        
        width: 90%;
        
        
    }
    .link-li{
        margin-top: 3%;
        
        

    }
    
    .hero-text{
        font-size: 50%;
    }
    .nav-button{
        text-align: center;
        display: none;
        width: 100%;
        
       
    }
    .nav-toggler-open{
        display: block;
    }
    .nav-toggler-close{
        display: none;
    }
    .hero-text{
        font-size: 0.5em;
    }
    .container1{
        display: grid;
        height: auto;
        
    }
    .container1-1{
        width: 100%;
        
        
    }
    .container1-2{
        width: 90%;
        
    }
    .container3{
        display: grid;
        height: auto;
        
    }
    .container3-1{
        width: 90%;
        
    }
    .container3-2{
        width: 90%;
    }
    .container4{
        display: grid;
        height: auto;
    }
    .container4-1{
        width: 90%;
    }
    .container4-2{
        width: 100%;
    }
    .container5{
        height: auto;
    }
    .container5-1{
        display: grid;
        
        align-content: space-between;
        height: 100vh;
        
    }
    
    .container5-1-1{
        background-color: rgb(255, 255, 255);
        width: 80vw;
        margin-right: 0;
        
        height: 30vh;
        
    }
    .container5-1-2{
        background-color: rgb(255, 255, 255);
        width: 80vw;
        margin-right: 0;
        height: 30vh;
        
        
    }
    .container5-1-3{
        height: 30vh;
        background-color: rgb(255, 254, 255);
        width: 80vw;
        margin-left: 0;
    }
    .container6{
        height: 80vh;
        align-content: space-around;
        
    }
    .container6-1{
        display: flex;
       
        align-content: space-between;
    }
    .input-name{
        width: 100%;
        height: 8%;  
    }
    .input-email{
        width: 100%;
        height: 8%;
    }
    .input-phone{
        width: 100%;
        height: 8%;
    }
    .input-subject{
        width: 100%;
        height: 8%;
    }
    
    .footer-header{
        font-size: small;
    }
    .footer-links{
        display: grid;
    }
    .company{
        flex:100%;
    }
    .services{
        flex:100%
    }
    .in-touch{
        flex:100%
    }
}
#chatbox{
    color: white;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(2, 2, 2, 0.616);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2%;
    right: 3%;
}
#back2up{
    position: fixed;
    bottom: 2%;
    right: 2%;
}
a{
    text-decoration: none;
    color: inherit;
}