button{
    cursor: pointer;
}
body{
    font-family: 'Gilroy', sans-serif;
}
.main-header{
    width: 100vw;
    height: auto;
    position: fixed;
    background-color: white;
    top: 0px;
}
.sub-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
    margin-right: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#logo{
    width: 80px;
}
#navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

#register-button{
    height: 50px;
    font-size: large;
    padding: 5px;
    width: 230px;
    border-radius: 25px;
    color: white;
    background-color: black;
    border: none;
}

#hero-image{
    width: 100vw;
}
.second-section{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
    height: 700px;
}
.second-section-info{
    width: 650px;
    font-size: 18px;
    height: 600px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}
.second-section-info h2{
    font-size: 54px;
    font-weight: 900;
    margin-top: 0px;
}
.second-section img{
    height: 600px;
    width: 550px;
}
.third-section{
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    background-color: #f4f8fc;
    
    
}
.third-section h2{
    font-size: 50px;

}

.white-boxes{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.white-box{
    max-width: 20%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin: 0 7.5px 15px;
    background-color: white;
    align-items: center;
    justify-content: center; 
    gap: 50px; 
}
.white-box img{
    width: 40px;
    height: auto;
}
.button-div button{
    width: 120px;
    height: 35px;
    color: white;
    background-color: #448cf0;
    border: none;
    border-radius: 3px;
    margin-bottom: 80px;
}



.footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b2d42;

}
.main-footer{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;

}
.main-footer button{
    height: 50px;
    font-size: 14;
    font-weight: bold;
    padding: 5px;
    width: 230px;
    border-radius: 25px;
    color: #2b2d42;
    background-color: white;
    border: none;
}
.main-footer h2{
    font-size: 60px;
    font-weight: 900;
    color: white;
}
.sub-footer{
   display: flex;
   width: 80vw;
   justify-content: space-between;
}

.footer-details{
    display: grid;
    grid-auto-flow: column;
    width: 300px;
    gap: 20px;
    line-height: 40px;
    color: white;
    font-size: 16px;

}

a{
    color: black;
    font-weight: 900;
}