.about_banner {
    background: url(../img8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    opacity: 0.9;
}
.about_cover {
    position: absolute;
    height:100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.6));
}
/* [data-overlay="5"]::before {
    opacity: 0.5;
}
[data-overlay]::before {
    background: #223645;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
} */
.about_banner > div:nth-child(2){
    text-align: center;
    color:white;
    font-weight: bold;
    position: relative;
    z-index: 2;
}
.about_banner >div:nth-child(2) h1 {
    font-size:50px;
}
.about_bn {
    padding:20px 30px 50px 8% ;
    margin-top: 50px;
}
.about_bn > div:first-child {
    background: url(../img9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}
.about_bn > div:last-child {
    padding: 10% 5%;
    color:#223645;
}
.about_bn > div:last-child > p:first-child, .our_services > p:first-child {
    font-size: 19px;
    font-weight: bold;
} 
.about_bn > div:last-child > h1, .our_services h1 {
    font-weight: bold;
    font-size:35px;
}
.para_bn{
    font-size:18px;
    line-height: 30px;
}
.our_services {
    background-color: #F4F9FC;
    padding: 20px;
    text-align: center;
    
}
.flex_container{
    display: flex;
    justify-content: space-around;
}
.service_div {
    height:300px;
    width:350px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left:5%;
    margin-bottom:30px;
}
.service_div span {
    background: #FFF9FB;
    padding: 40px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.service_div span i {
    font-size: 30px;
   
}
.service_div p {
    font-size:23px;
    font-weight: bold;
}
.view_more {
    text-align: center;
    padding: 50px 0;
}
.view_more > span {
    padding:15px 20px;
    border-radius: 8px;
    background-color: #15A3EA;
}
.view_more > span a {
    color:white;
    text-transform: uppercase;
    font-weight: bold;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about_bn {
        padding: 10% 15%;
    }
    .about_bn > div:last-child {
        text-align: center;
        padding: 0px;
    }
    .flex_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
@media only screen and (max-width:767px){
    .about_banner {
        height: 500px;
    }
    .about_bn > div:last-child {
        text-align: center;
        padding: 0px;
    }
    .about_bn > div:first-child {
        height:700px;
    }
    .flex_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width:500px){
    .about_bn > div:first-child {
        height:600px;
    }
    .about_bn > div:last-child > h1, .our_services h1 {
        font-size:28px;
    }
    .para_bn{
        font-size:16px;
        line-height: 27px;
    }
    .service_div {
        width:250px;
        height: auto;
    }
    .service_div span {
        padding: 20px;
        margin-top:20px;
    }
    .service_div span i {
        font-size:20px;
        
    }
    .service_div p {
        font-size:18px;
    }
}