.contact_banner {
    background: url(../img8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    opacity: 0.9;
}
.contact_cover {
    position: absolute;
    height:100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.6));
}
/* [data-overlay="5"]::before {
    opacity: 0.5;
}
[data-overlay]::before {
    background: #223645;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
} */
.contact_banner > div:nth-child(2){
    text-align: center;
    color:white;
    font-weight: bold;
    position: relative;
    z-index: 2;
}
.contact_banner >div:nth-child(2) h1 {
    font-size:50px;
}

.para_bn{
    font-size:18px;
    line-height: 30px;
}
.our_services {
    padding: 40px 20px;
    text-align: center;
    
}
.flex_container{
    display: flex;
    justify-content: space-around;
}
.service_div {
    height:300px;
    width:350px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left:5%;
    margin-bottom:30px;
    border: 1px solid #eaedff;
}
.service_div span {
    background: #c4943a;
    padding: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 16px 32px 0px rgb(206 226 255 / 40%);
}
.service_div span i {
    font-size: 30px;
    color:white;
}
.service_div p {
    font-size:23px;
    font-weight: bold;
    margin-block-end: 0px;
}
.sub_para {
    font-size: 17px !important;
    font-weight: 400 !important;
}
.contact_form > h1 {
    text-align: center;
}
.contact_form {
    background-color: #F4F9FC;
    padding: 20px 8%;
}
.contact_form > div:first-child {
    position: relative;
}
input[type=text], input[type=email]{
    padding: 20px 18px;
    border:none;
    border-radius: 10px;
    background: #fff;
    width: 100%;
    font-size: 15px;
    outline: none;
    padding-left: 60px;
 }
 textarea {
     width: 100%;
     padding: 20px 18px;
     padding-left: 60px;
     border:0;
 }
 #icon {
    position: absolute;
    padding: 20px 18px;
    min-height: 40px;
}
.contact_div > div {
    padding: 25px;
}
.view_more {
    text-align: center;
    padding: 50px 0;
}
.view_more > span {
    padding:15px 20px;
    border-radius: 8px;
    background-color: #15A3EA;
}
.view_more > span a {
    color:white;
    text-transform: uppercase;
    font-weight: bold;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
    .flex_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
@media only screen and (max-width:767px){
    .contact_banner {
        height: 500px;
    }
  
    .flex_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width:500px){
 
    .para_bn{
        font-size:16px;
        line-height: 27px;
    }
    .service_div {
        width:250px;
        height: auto;
    }
    .service_div span {
        padding: 20px;
        margin-top:20px;
    }
    .service_div span i {
        font-size:20px;
        
    }
    .service_div p {
        font-size:18px;
    }
    .contact_form {
        background-color: #F4F9FC;
        padding: 0px;
    }
}