/***************General Styling************/

*{box-sizing: border-box;}

[class *= "col-"]{
    float: left
}
body{
    margin: 0px !important; padding: 0px !important;width: 100% !important;
    font-family: sans-serif;
}

.btn{padding:10px 15px;border-radius: 8px;}

.col-1{width: 8.33%}.col-2{width: 16.66%}.col-3{width: 25%}.col-4{width: 33.33%}
.col-5{width: 41.66%}.col-6{width: 50%}.col-7{width: 58.33%}.col-8{width:66.66%}
.col-9{width: 75%}.col-10{width: 83.33%}.col-11{width: 91.66%}.col-12{width: 100%}

@media only screen and (max-width:767px){
    .col-xs-1{width: 8.33%}.col-xs-2{width: 16.66%}.col-xs-3{width: 25%}.col-xs-4{width: 33.33%}
    .col-xs-5{width: 41.66%}.col-xs-6{width: 50%}.col-xs-7{width: 58.33%}.col-xs-8{width:66.66%}
    .col-xs-9{width: 75%}.col-xs-10{width: 83.33%}.col-xs-11{width: 91.66%}.col-xs-12{width: 100%}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .col-sm-1{width: 8.33%}.col-sm-2{width: 16.66%}.col-sm-3{width: 25%}.col-sm-4{width: 33.33%}
    .col-sm-5{width: 41.66%}.col-sm-6{width: 50%}.col-sm-7{width: 58.33%}.col-sm-8{width:66.66%}
    .col-sm-9{width: 75%}.col-sm-10{width: 83.33%}.col-sm-11{width: 91.66%}.col-sm-12{width: 100%}
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .col-md-1{width: 8.33%}.col-md-2{width: 16.66%}.col-md-3{width: 25%}.col-md-4{width: 33.33%}
    .col-md-5{width: 41.66%}.col-md-6{width: 50%}.col-md-7{width: 58.33%}.col-md-8{width:66.66%}
    .col-md-9{width: 75%}.col-md-10{width: 83.33%}.col-md-11{width: 91.66%}.col-md-12{width: 100%}
}
@media only screen and (min-width: 1201px){
    .col-lg-1{width: 8.33%}.col-lg-2{width: 16.66%}.col-lg-3{width: 25%}.col-lg-4{width: 33.33%}
    .col-lg-5{width: 41.66%}.col-lg-6{width: 50%}.col-lg-7{width: 58.33%}.col-lg-8{width:66.66%}
    .col-lg-9{width: 75%}.col-lg-10{width: 83.33%}.col-lg-11{width: 91.66%}.col-lg-12{width: 100%}
}

/***********Header Code*************/
html {
  color: #222;
  font-size: 1em;
}

a {
  color: #8795a1;
  text-decoration: none;
}

/* p {
  margin: 0 0 45px 0;
  text-align: justify;
} */

.header {
  width: 100%;
  background-color: #fff;
}

/* - link under - */

.link-arrow:after {
  content: '';
  background-size: 100% 100%;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: -28px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.link-arrow:hover:after {
  right: -35px
}

.link-arrow.link-arrow-white:after {
  background-size: 100% 100%
}

.link-arrow-hover:after {
  right: -35px
}

.link {
  display: inline-block;
  position: relative;
  border: none;
  padding-bottom: 4px;
  font-weight: 500
}

.link:active,
.link:focus,
.link:hover {
  outline: 0
}

.link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  width: 0;
  height: 2px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.link:hover {
  color: #000
}

.link:hover:before {
  width: 100%
}

.link-theme:before {
  background: #ffd300;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  color:#8795a1;
  font-family: sans-serif;
  font-size:16px;
  display: block;
  padding:10px 0;
  text-align: center;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #fff;
}

.header .logo {
  padding: 2px 0px;
  text-decoration: none;
  float: left;
}
.logo_img {
    margin-left: 60px;
}
/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .5s ease-out;
  padding-left: 20%;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 20px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .5s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .5s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 270px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 767px) {
  .header li {
    float: left;
  }
  .header li a {
    margin-left: 30px;
  }
  .header .menu {
    clear: none;
    float: left;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .last_btn {
    display: none;
  }

}
/*********/
.nav_span {
    float: right;
    padding-top: 13px;
    padding-right: 8%;
}
.nav_span > span {
    background-color: #000;
    border-radius: 500px;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    padding: 18px 24px;
    cursor: pointer;
}
.nav_span > span a {
    color:white;
    text-decoration: none;
}
.navbar {
    padding: 20px 0px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
  .header .menu {
    padding-left: 10%;
  }
  .nav_span {
    padding-right: 20px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 991px){
  .nav_span > span {
    padding: 10px 15px; 
    font-size:16px;
  }
  .header .menu {
    padding-left: 3%;
  }
  .nav_span {
    padding-right: 10px;
  }
  .header li a {
    margin-left: 15px;
    font-size:16px;
  }
}
@media only screen and (max-width:767px){
  .header .menu {
    padding-left: 0px !important;
  }
  .nav_span {
    display: none;
  }
  .last_btn {
    display: block;
  }
}
.chat_icon {
  position: fixed;
  text-align: right;
  pointer-events: none;
  z-index: 5;
  bottom: 65px;
  right:30px;
}
.chat_icon i {
font-size:30px;
 padding: 15px;
color: white;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.6));
 border-radius: 50%;
}
/*third container(slideshow)*/
.threediv{
    height: 800px !important; 
    position: relative;
    overflow: hidden;
}
/* .threediv > div:first-child {
  transform: scale3d(1.2);
} */

.threediv > div:nth-child(2){
    position: absolute;
    height: 100%;  
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.6));
}
.threediv > div:nth-child(2) > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  line-height: 1.4em;
  font-size: 20px;
  padding: 20px; 
  height: 100%;
}
.threediv > div:nth-child(2) > div > div {
  text-align: center;
  font-size: 30px;
  padding:0 300px ;
  line-height: 70px;
  font-weight: bold;
  position: absolute;
}
.threediv > div:nth-child(3){
  padding: 10px;
  position: absolute;
  bottom: 100px;
  /* left: 38%; */
}
.threediv > div:nth-child(3) span{
  padding: 0px 60px 0px 2px;
  border-radius: 40px;
  background-color:white;
}
.threediv > span{
  color:white;
  padding: 15px;
  width: 40px;
  height: 60px;
  border-radius: 50%;
  padding: 20px 15px 20px 15px;
  position: absolute;
  bottom: 45%;
}
.threediv > span:last-child{
  left:5% !important;
}
.threediv > span{
  right: 5%;
}
.threediv >  span:hover{
  cursor: pointer;
}
.change_color {
  text-align: center;
}

@media only screen and (min-width: 992px) and (max-width: 1300px){
  .threediv > div:nth-child(2) > div > div {
    text-align: center;
    font-size: 28px;
    padding:0 150px ;
    line-height: 70px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .threediv > div:nth-child(2) > div > div {
    font-size: 25px;
    padding:0 100px ;
    line-height: 60px;
  }
}
@media only screen and (max-width:767px){
  .threediv > div:nth-child(2) > div > div {
    font-size: 22px;
    padding:0 40px ;
    line-height: 50px;
  }
  .threediv > span{
    right:0px
  }
  .threediv > span:last-child{
    left:0px !important;
  }
}

@media only screen and (max-width:767px){
  .threediv > div:nth-child(2) > div > div {
    font-size: 18px;
    padding:0 0px ;
    line-height: 50px;
  }
}
/********* Animation code***********/
@keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
          animation-duration: 5s;
}
.slideInUp {
          animation: slideInUp 2s linear 1;
          visibility: hidden;
          animation-fill-mode: forwards;
          animation-duration: 2s;
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            visibility:visible;
            
  }
}
/*********** Banner1 *********/
.banner1 {
  margin:50px 0;
  padding: 50px 30px;
}
.banner1 > div:first-child {
  padding:5% 3%;
}
.banner1 > div:last-child {
  background: url(../img2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  border-radius:10px;
}
.banner1 > div:first-child h2{
  font-size:36px;
  line-height: 45px;
  font-weight: bold;
}
.banner1 > div:first-child p {
  font-size:20px;
  line-height: 30px;
  color:#3b4248;
}
.banner1 > div:first-child > span {
  font-size:18px;
  font-weight: bold;
}
.banner1 > div:first-child > span a {
  color: #3b3b3b;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner1 > div:first-child {
    text-align: center;
  }
  .banner1  {
    padding: 50px 50px;
  }
}
@media only screen and (max-width:767px){
  .banner1 > div:first-child {
    text-align: center;
    padding-bottom: 50px;
  }
  .banner1  {
    padding: 50px 20px;
  }
  .banner1 > div:last-child {
    height:500px;
    border-radius: 20px;
  }
}
@media only screen and (max-width:500px) {
  .banner1 > div:first-child h2{
    font-size:24px;
    line-height: 40px;
  }
  .banner1 > div:first-child p {
    font-size:17px;
    line-height: 26px;
  }
  .banner1 > div:first-child > span{
    font-size:17px;
  }
}

/***********Banner2*********/
.banner2 {
  margin:20px 0;
  padding: 50px 0;
  background-color: #fffbf7;
}
.banner2 h1 {
  text-align: center;
  margin-bottom: 30px;
  color:#000
}
.banner2_div{
  margin-top: 30px;
  background-color: #fffbf7;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.banner2_div strong {
  color: #000;
  font-size: 54px;
  line-height: 58px;
  font-weight: 700;
  text-align: center;
}
.banner2_div p {
  text-align: center;
}
@media only screen and (max-width:767px) {
  .banner2_div strong {
    font-size: 35px;
  }
}
@media only screen and (max-width:500px) {
.banner2_div {
  flex-direction: column;
  text-align: center;
}
.banner2_div p {
  margin-block-end: 3em;
}
.banner2 h1 {
  font-size:24px;
}
}
/***********Banner3*********/
.banner3 {
  margin:50px 0;
  padding: 50px 30px 50px 5%;
}
.banner3 > div:first-child {
  background: url(../img1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  border-radius:10px;
}
.banner3 > div:last-child {
  padding: 3%;
}
.sub_content {
  padding-bottom: 20px;
}
.sub_content > span:first-child i {
  width:28px;
  height: 28px;
  font-size:24px;
}
.sub_content > span:last-child {
  font-size:18px;
  line-height: 30px;
  color:#3b4248;
}
.banner3 > div:last-child h1 {
  font-size:36px;
  line-height: 45px;
  font-weight: bold;
}
.banner3 > div:last-child p {
  font-size:20px;
  line-height: 30px;
  color:#3b4248;
}
.platform {
  font-size:18px;
  font-weight: bold;
}
.platform a {
  color: #3b3b3b;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
  .banner3 {
    padding: 50px;
  }
  .banner3 > div:last-child {
    padding: 3% 0;
  }
  .banner3 {
    margin:0px;
  }
}
@media only screen and (max-width:767px) {
  .banner3 > div:first-child {
    height: 600px;
    border-radius: 20px;
  }
  .banner3 {
    padding: 50px;
  }
  .banner3 > div:last-child {
    padding: 3% 0;
  }
  .banner3 {
    margin:0px;
  }
}
@media only screen and (max-width:500px) {
.banner3 {
  padding: 50px 20px;
}
.banner3 > div:first-child {
  height: 500px;
}
.banner3 > div:last-child h1{
  font-size:24px;
  line-height: 40px;
}
.sub_content > span:last-child {
  font-size:17px;
  line-height: 26px;
}
.platform{
  font-size:17px;
}
.banner3 > div:last-child p {
  font-size: 17px;
}
.sub_content > span:first-child i {
  width:22px;
  height: 22px;
  font-size:18px;
}
.banner3 {
  margin:0px;
}
}
/***********Banner4*********/
.banner4 {
  margin:50px 0;
  padding: 50px 30px;
}
.banner4 > div:first-child {
  padding:5% 3%;
}
.banner4 > div:last-child {
  background: url(../img4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  border-radius:10px;
}
.banner4 > div:first-child h2{
  font-size:36px;
  line-height: 45px;
  font-weight: bold;
}
.banner4 > div:first-child p {
  font-size:20px;
  line-height: 30px;
  color:#3b4248;
}
.banner4 > div:first-child > span {
  font-size:18px;
  font-weight: bold;
}
.banner4 > div:first-child > span a {
  color: #3b3b3b;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner4 > div:first-child {
    text-align: center;
  }
  .banner4  {
    padding: 50px 50px;
  }
  .banner4 {
    display: flex;
    flex-direction: column-reverse;
  }
  .banner4 {
    margin: 0px;
  }
}
@media only screen and (max-width:767px){
  .banner4 > div:first-child {
    text-align: center;
    padding-bottom: 50px;
  }
  .banner4  {
    padding: 50px 20px;
  }
  .banner4 > div:last-child {
    height:500px;
    border-radius: 20px;
  }
  .banner4 {
    display: flex;
    flex-direction: column-reverse;
  }
  .banner4 {
    margin: 0px;
  }
}
@media only screen and (max-width:500px) {
  .banner4 > div:first-child h2{
    font-size:24px;
    line-height: 40px;
  }
  .banner4 > div:first-child p {
    font-size:17px;
    line-height: 26px;
  }
  .banner1 > div:first-child > span{
    font-size:17px;
  }
  .banner4 {
    margin: 0px;
  }
}
/*************Footer***********/
.footer {
  background-color: #2b2d42;
}
.footer > div:first-child {
  text-align: center;
  padding-bottom: 50px;
}
.footer > div:first-child h1 {
  color:white;
  padding: 0 16% ;
  font-size:60px;
  line-height: 75px;
  margin-block-end: 1.2em;
}
.footer_btn {
  background-color: #fff;
  border-radius: 500px;
  color: #000;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  padding: 18px 35px;
  cursor: pointer;
}
.footer_btn a {
  color:#000;
  text-decoration: none;
}
.sub_footer > div {
  color:white;
  padding: 0 7%;
}
.sub_footer > div > p:first-child {
  margin-block-end: 1.5em;
  font-size:20px;
  font-weight: bold;
}
.sub_footer > div:first-child span, .sub_footer > div:nth-child(2) span{
display: block;
padding-bottom: 20px;
}
.sub_footer > div:first-child span a, .sub_footer > div:nth-child(2) span a {
  color: white;
}
.sub_footer >div:last-child > span {
  display: inline-block;
}
.social {
  display: inline-block;
  width:30px;
  height: auto;
  color:white;
}
.social a {
  font-size:20px;
  color:white;
}
.sub_footer > div:last-child {
  padding: 0 5%;
}
.sub_footer > div > p:not(:first-child){
  margin-block-end: 1.2em;
  cursor: pointer;
}
@media only screen and (max-width:991px){
  .sub_footer > div {
    text-align: center;
  }
  .footer > div:first-child h1 {
    font-size:45px;
    line-height: 60px;
    padding: 0 5%;
  }
}@media only screen and (max-width:500px){
  .footer > div:first-child h1 {
    font-size:30px;
    line-height: 40px;
    padding: 0 10px;
  }
  .chat_icon {
    bottom: 0px;
    right:10px;
  }
  .threediv > div:nth-child(3) {
    bottom: 150px;
  }
}