body{
    background-color: rgb(252, 237, 237);
}
.container{
    display: grid;
    justify-content: center;
}
button:hover{
    background-color: blueviolet;
}
.toggle-state{
    display: flex;
    justify-content: right;
}